.full-height {
  height: 100vh;
}

.brand-name h1 {
  font-size: 3rem;
}

.card {
  max-width: 30rem;
}

.scale-80 {
  transform: scale(0.8);
}

.w-90 {
  width: 90%;
}

.auth-section > :nth-child(odd) {
  margin-bottom: 0.7rem;
}

.auth-options {
  align-items: baseline;
}

.auth-options > * {
  margin: 0;
}

.btn {
  text-align: center;
}
