.full-height {
  height: 100vh;
}

.brand-name h1 {
  font-size: 3rem;
}

.card {
  max-width: 30rem;
}

.scale-90 {
  transform: scale(0.9);
}

.w-90 {
  width: 90%;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.auth-section > :nth-child(odd) {
  margin-bottom: 0.7rem;
}

.auth-options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.auth-options > * {
  margin: 0;
}

.card .btn {
  text-align: center;
}
