body {
  display: grid;
  grid-template-areas:
    "header header"
    "filters products";
  grid-template-columns: 16rem 1fr;
}

.header {
  grid-area: header;
}

.filters {
  grid-area: filters;
  position: sticky;
  overflow-y: auto;
}

.filters button {
  color: var(--text-color);
}

.filters ul {
  padding: 0;
}

.filter-header {
  align-items: baseline;
}

.filter-name {
  font-size: 1.5rem;
  line-height: 2rem;
}

.slider {
  width: 100%;
}

.products {
  grid-area: products;
}

.products-container {
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  max-width: 90%;
  justify-items: center;
}
