body {
  display: grid;
  grid-template-areas:
    "header header"
    "filters products";
  grid-template-columns: 16rem 1fr;
}

.header {
  grid-area: header;
}

.filters {
  grid-area: filters;
  padding: 2rem 1rem 0;
  position: sticky;
  overflow-y: auto;
}

.filters button {
  color: var(--text-color);
}

.filters section {
  margin: 2rem 0;
}

.filters ul {
  padding: 0;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.filter-name {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.price-range,
.rating {
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 100%;
  margin: 0;
}

.products {
  grid-area: products;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem;
  margin: 1rem auto;
  max-width: 90%;
}

.card {
  justify-content: flex-end;
}
